{% extends "layout.html" %}

{% block title %}
Crown Fiesta
{% endblock %}

{% block nav_items %}
<li class="nav-item">
    <a class="nav-link link-light fs-4" href="/logout">Logout</a>
</li>
{% endblock %}

{% block game %}
<main class="container-fluid w-50 mx-auto row">
    <div class="container bg-dark-subtle p-5 mt-5 row rounded-top overflow-hidden" id="game">
        {% for line in game %}
        <div class="row">
            {% for element in line %}
            <div class="m-2 col reel-{{loop.index}} animate__animated animate__bounceInDown
                 animate__delay-{{loop.index}}s {{element.name}} symbol
                 border-5 border-danger rounded-1 p-1
                {% if element.win == True %}border{% endif %}">
                <img class="img-fluid" src="{{element.path}}" alt="Icon">
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
    <div class="row p-3 bg-dark text-light rounded-bottom">
        <div class="col d-flex align-items-center">
            Balance: {{balance}}
        </div>
        <div class="col d-flex align-items-center">
            Win: {{win}}
        </div>
        <div class="col d-flex justify-content-end">
            <form action="/" class="d-flex justify-content-end" method="post" id="spin">
                <div class="input-group me-3">
                    <span class="input-group-text me-3 p-1">Bet</label>
                    <input class="form-control" type="number" value="{{bet}}" step="2.5">
                </div>
                <button type="submit" class="btn btn-danger btn-lg">SPIN</button>
            </form>
        </div>

    </div>
</main>
{% endblock %}
