{% extends "layout.html" %}

{% block title %}
Registration
{% endblock %}

{% block game %}
<form action="/register" method="post" class="w-25 mx-auto m-5 d-flex flex-column">
    <div class="mb-3">
      <label for="username" class="form-label">Username</label>
      <input type="text" name="username" class="form-control" id="username">
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" name="password" class="form-control" id="password">
    </div>
    <div class="mb-3">
        <label for="confirm" class="form-label">Confirm password</label>
        <input type="password" name="confirm" class="form-control" id="confirm">
      </div>
    <button type="submit" class="btn btn-danger mx-auto">Submit</button>
  </form>
  {% block modal %}{% endblock %}
{% endblock %}
